h1{
  font-family: "Magra";
  text-align:left;
  padding-top: 0.9em;
  color: #770C10;
  position : relative;
  top : 5%;
  left: 5%;
}

h2{
  font-family: "Magra";
  text-align:center;
  color: #770C10;
  position : relative;
  margin: 10% 0%;

}

p{
  text-align:center;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  background-color: black;
  color: white;
  width: 72%;
  position : relative;
  left :13%;
}

.img_crear {
  height: 50px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.img_logo {
  height: 50%;
  width: auto;
  display: block;
  margin: auto;
  opacity: 65%;
}

.next{
  height: 50%;
  width: auto;
  margin: auto;
  display: block;
  margin: 0 auto;
}

.centrar{

  display: block;
  margin: 0 auto;
}
