<div class="row" style="height: 10vh; padding: 0%;">
  <div class="col-4">
    <h1>Home</h1>
  </div>
  <div class="col-8"></div>
</div>
<div class="row"  style="height: 80vh;">
  <div class="col-4">
    <div class="row">
      <h2>Alarmas</h2>
    </div>

    <form class="centrar">
    <div class="row">
      <div class="col"></div>
      <div class="col form-group mx-sm-3 mb-2">
        <label class="form_input">ACETAMINOFEN</label>
        <input class="form-control" placeholder="8:00 AM"/>
      </div>
      <div class="col">
          <label class="form_input">ACCIONES</label>
          <br>
          <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
          <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col form-group mx-sm-3 mb-2">
        <label class="form_input">ACETAMINOFEN</label>
        <input class="form-control" placeholder="8:00 PM"/>
      </div>
      <div class="col">
          <label class="form_input">ACCIONES</label>
          <br>
          <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
          <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
      </div>
      <div class="col"></div>
    </div>
  </form>

    <div class="row">
      <img class="img_crear" src="../../assets/Agregar_alarma.png" />
    </div>
  </div>
  <div class="col-8">

    <div class="d-flex" style="height: 100%; color: #770C10; ">
      <div class="vr" style="width: 2px"></div>
      <img class="img_logo" src="../../assets/logo.png" />
    </div>
  </div>
</div>
<div class="row" style="height: 10vh;">
  <a style="height: 10vh;" [routerLink]="['/form']">
    <img class="next" src="../../assets/Previous.png" />
  </a>
</div>
